---

---

<header
  class="max-w-[1440] mx-auto flex justify-between p-4 bg-[#101622] border-b-2 border-[#1D263A]"
>
  <img src="/InfoJobs.svg" alt="Logo InfoJobs" class="w-auto h-9" />

  <div class="flex gap-10 text-[#C7D1DD] font-bold">
    <a href="" class="hover:text-white">Browse Jobs</a>
    <a href="" class="hover:text-white">Companies</a>
    <a href="" class="hover:text-white">Salaries</a>
  </div>

  <div class="flex gap-4">
    <a class="bg-[#135BEC] rounded-[10px] px-4 py-2 h-10 font-bold" href="">Post a Job</a>
    <img src="/UserCircle.svg" alt="" class="w-auto h-10" />
  </div>
</header>
